<html>
<head>


</head>

<body>

<form action="/predict" method="POST">
    <h1> HEALTH INSURANCE PRICE PREDICTION </h1>

    <label> AGE: </label> <input type="number" name = "age"> <br> <br>
    <label> GENDER: </label> <input type="text" name = "gender"> <br> <br>
    <label> BMI: </label> <input type="number" name = "bmi"> <br> <br>
    <label> CHILDREN: </label> <input type="number" name = "children"> <br> <br>
    <label> SMOKER: </label> <input type="text" name = "smoker"> <br> <br>
    <label> REGION: </label> <input type="text" name = "region"> <br> <br>
   



    <input type="submit" value="PREDICT"> 



</form>
{{health_insurance_price}}

</body>

</html>